.header {
  position: relative;
}

.header__logo {
  position: absolute;
  top: 31px;
  left: 20px;

  width: 89px;
  height: 20px;

  @include vp-1199 {
    top: 40px;
    left: 45px;
  }

  @include vp-767 {
    top: 20px;
    left: 15px;
  }
}

.header__phone {
  position: absolute;
  top: 29px;
  right: 22px;

  @include vp-1199 {
    top: 38px;
    right: 46px;
  }

  @include vp-767 {
    top: 20px;
    right: 15px;
  }
}

.header__phone a {
  font-family: $ff-bebas;
  color: $color-default-white;
  font-size: 26px;
  line-height: 26px;
  letter-spacing: 0.03em;

  &:hover {
    opacity: 0.5;
  }

  @include vp-1199 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }

  @include vp-767 {
    font-size: 20px;
    line-height: 20px;
  }
}
