.social__list {
  list-style: none;
  margin: 0;
  padding: 0;

  &--footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.social__list a {
  font-size: 12px;
  line-height: 14px;
  color: $color-default-white;
  text-transform: uppercase;
}

.social__item {
  &--promo {
    margin-top: 10px;
  }

  &--footer {
    margin: 10px 0 10px 25px;

    @include vp-1199 {
      margin: 10px 20px 10px 0;
    }

    @include vp-767 {
      margin: 0 35px 0 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--vk svg {
    width: 24px;
    height: 13px;

    @include vp-767 {
      width: 32px;
      height: 17px;
    }
  }

  &--ig svg {
    width: 24px;
    height: 24px;

    @include vp-767 {
      width: 27px;
      height: 27px;
    }
  }

  &--fb svg {
    width: 12px;
    height: 24px;

    @include vp-767 {
      width: 14px;
      height: 27px;
    }
  }

  &:hover {
    opacity: 0.5;
  }
}
