.trainers {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1316px;
  padding: 0 58px 120px;

  @include vp-1199 {
    padding: 0 45px 99px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.trainers h2 {
  margin: 0 0 52px 21px;
  font-family: $ff-bebas;
  font-weight: 700;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  align-self: start;

  @include vp-1199 {
    font-size: 42px;
    line-height: 42px;
    margin: 0 0 39px;
    align-self: center;
  }

  @include vp-767 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 44px;
  }
}

.trainers__slider {
  position: relative;

  @include vp-767 {
    width: 78%;
  }
}

.trainers__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.trainers__item {
  display: none;

  position: relative;
  width: 100%;

  overflow: hidden;

  &--active {
    display: flex;
  }

  &:hover .trainers__card {
    z-index: 10;
    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.trainers__intro {
  @include vp-767 {
    position: relative;
    width: 100%;
    padding-bottom: 121%;
  }
}

.trainers__item h3 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 9px;
  color: $color-default-white;
  letter-spacing: 0.05em;
  z-index: 5;
}

.trainers__image {
  width: 260px;
  height: 294px;

  @include vp-1199 {
    width: 268px;
  }

  @include vp-767 {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.trainers__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.trainers__card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $color-default-white;
  background-color: $color-dark-gray;
  padding: 52px 40px 58px 55px;
  z-index: -1;

  @include vp-1199 {
    padding: 55px;
  }

  @include vp-767 {
    padding: 43px 36px;
  }
}

.trainers__card h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin: 0;
}

.trainers__card p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 35px -10px;
  color: $color-gray-blue;
}

.trainers__card ul {
  list-style: disc;
  padding: 0 0 0 10px;
}

.trainers__card li {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.trainers__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 34px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }

  &--prev {
    left: -55px;

    @include vp-767 {
      left: -32px;
    }
  }

  &--next {
    right: -55px;

    @include vp-767 {
      right: -32px;
    }
  }
}

.trainers__button svg {
  width: 18px;
  height: 34px;

  @include vp-767 {
    width: 10px;
    height: 19px;
  }
}
