$color-default-black:               #102654;
$color-default-white:               #ffffff;
$color-gray:                        rgba(16, 38, 84, 0.5);
$color-light-gray:                  rgba(120, 120, 120, 0.2);
$color-dark-gray:                   rgba(16, 38, 84, 0.89);
$color-light-grafit:                rgba(20, 54, 122, 0.5);
$color-opacity-red:                 rgba(209, 10, 66, 0.2);
$color-gray-blue:                   #b6bdcc;
$color-medium-gray:                 #afafaf;
$color-neutral:                     #f8f9fc;
$color-light:                       #e8e8e8;
$color-grafit:                      #495a7d;
$color-dark:                        #030a1a;
$color-red:                         #d10a42;
$color-light-red:                   #ed0233;
$color-light-blue:                  #74819c;
$color-blue:                        #103aae;
$color-dark-blue:                   #1c3374;
$linear-gradient:                  linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$linear-gradient-border:           linear-gradient(97.05deg, #d10a42 17.6%, #00359f 95.31%);
$linear-gradient-button:           linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
$linear-gradient-text:             linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);
$conic-gradient:                   conic-gradient(from 130.31deg at 16.03% 39.06%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$ff-bebas:                         "Bebas Neue", "Arial", sans-serif;
$ff-roboto:                        "Roboto Condensed", "Arial", sans-serif;
$vp-768:                            768px;
$vp-1200:                           1200px;
$retina-dpi:                        192dpi;
$retina-dppx:                       2dppx;
